@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --color-primary: #ef6212;
  --color-secondary: #fcefdd;
  --color-foreground-primary: #ffeedb;
  --color-foreground-secondary: #f8f8f8;
}

.landing-page-bg {
  background-image: url("/images/landingPage/backgroundDesign.png");
}

.navItems:hover ~ .borderAnimation {
  width: 100%;
}
