@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Manrope:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
}

.carousel-text {
  font-family: "Cormorant Garamond", serif;
}

.home-swiper {
  height: 100%;
  width: 100%;
}

.home-swiper .swiper-pagination-bullet {
  height: 20px !important;
  width: 5px !important;
  border-radius: 10px !important;
  background-color: white !important;
  opacity: 1 !important;
  transition: all 0.2s linear;
}

.home-swiper .swiper-pagination-bullet-active {
  height: 40px !important;
  background-color: white !important;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --color-primary: #ef6212;
  --color-secondary: #fcefdd;
  --color-foreground-primary: #ffeedb;
  --color-foreground-secondary: #e5e5e5;
}

.landing-page-bg {
  background-image: url("/images/landingPage/backgroundDesign.png");
  background-repeat: no-repeat;
}

.navItems:hover ~ .borderAnimation {
  width: 100%;
}

.findCars-background {
  background: url("../../public/images/findCars/carBackground.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.filter-tabs::after {
  content: " ";
  display: table;
  clear: both;
}

.tab.active {
  font-weight: 700;
}

.tab:first-child.active ~ .slider {
  left: 0;
}

.tab:nth-child(2).active ~ .slider {
  left: 12%;
}

.slider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 112px;
  height: 4px;
  background-color: #ef6212;
  transition: left 0.25s;
}

.nav-previous.swiper-button-disabled {
  display: none;
}
